---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.page__hero {
  position: relative;
  margin-bottom: 2em;
  @include clearfix;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;

  &--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: $intro-transition;
    animation: $intro-transition;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;

    a {
      color: #fff;
    }

    .wrapper {
      padding-left: 2em;
      padding-right: 1em;

      @include breakpoint($small) {
        padding-left: 12em;
      }
      @include breakpoint($medium) {
        padding-left: 24em;
      }
      @include breakpoint($x-large) {
        max-width: $x-large;
      }


      
    }

    .page__title,
    .page__meta,
    .page__lead {
      color: #fff;
      text-shadow: 1px 1px 4px rgba(#000, 0.5);
    }

    .btn {
      background-color: #fff;
      color: $primary-color
    }

    .page__lead {
      max-width: $medium;
    }

    .page__title {
      font-size: $type-size-2;

      @include breakpoint($small) {
        font-size: $type-size-2;
      }
    }
  }
}
